body
    margin: 0
    padding: 0
    box-sizing: border-box
    nav
        padding: 1rem!important
        form
            margin: 0
        .nav-link
            color: #FFF !important
    .mainSection
        .jumbotron
            background-color: unset !important
            width: 100%
            max-width: 1700px
            margin: 0 auto
        .table thead th
            border: unset !important
    .sect
        background-color: #d5d5d5
        box-shadow: 0 0 10px #0000003d
        padding: 5rem 2rem
        max-width: 500px
        h1
            margin: 0
            padding: 0
            font-size: 1.5rem
    .btn
        cursor: pointer !important
    .table>:not(caption)>*>*
        max-width: 500px
        overflow: hidden
