<html>
    <%- include('../partials/head'); %>
    <div class="auth p-5 text-white bg-primary rounded-3">
        <h1>Login</h1>
        <form action="/apn/auth" method="post">
            <div class="mb-3">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" name="username" placeholder="Name">
            </div>
            <div class="mb-3">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
            <% if(err){ %>
                <small id="errText" class="form-text text-danger"><%= err %></small>
            <% } %>
        </form>
    </div>

    <style>
        .auth {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            max-width: 500px;
            padding: 2rem 5rem;
        }
        .bg-primary {
            background-color: #5a8edce4 !important;
        }
    </style>
</html>