<html>
    <%- include('../partials/head'); %>
    <body>
        <form action="/edit/<%= id %>" method="post">
            <h4>Editing Product N: <%= id %></h4>
            <div class="form-group">
              <label for="name">სახელწოდება</label>
              <input type="text" class="form-control" id="name" name="Name" placeholder="Name">
            </div>
            <div class="form-group">
              <label for="desc">განმარტება</label>
              <input type="text" class="form-control" id="desc" name="Description" placeholder="Description">
            </div>
            <div class="form-group">
              <label for="price">ფასი</label>
              <input type="number" class="form-control" id="price" name="Price" placeholder="Price">
            </div>
            <div class="form-group">
              <label for="url">სურათი</label>
              <input type="text" class="form-control" id="url" name="Image" placeholder="Image URL">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </body>
</html>